@import '~bootstrap/scss/bootstrap';

.homepage {
    background: url(/storage/img/pizza_bg.jpg);
    background-position: center;
    color: white;
    height: 800px;
    margin-top: 100px;
    .homepage_title {
        height: 300px;
        width: 300px;
        padding: 1rem;
       background: url(/storage/img/rounded_pizza.png);
       background-position: center  ;
        .title{
            margin-top: 4rem;
            color: red;
            font-style: italic  ;
        }
    }
}
.card{
    border-radius: 50px;
    background-image: url(/storage/img/pizza_bg.jpg);
    background-position: center;
    background-size: cover;
    font-weight: 900;
    color: whitesmoke;
    text-align: center;
    .vegetarian{
        color:greenyellow;

    }
}
