@import "~bootstrap/scss/bootstrap";

.homepage {
    background: url(/storage/img/pizza_bg.jpg);
    background-position: center;
    color: white;
    height: 800px;
    margin-top: 100px;
    .homepage_title {
        height: 300px;
        width: 300px;
        padding: 1rem;
        background: url(/storage/img/rounded_pizza.png);
        background-position: center;
        .title {
            margin-top: 4rem;
            color: red;
            font-style: italic;
        }
    }
}

.card {
    border-radius: 50px;
    background-image: url(/storage/img/pizza_bg.jpg);
    background-position: center;
    background-size: cover;
    font-weight: bolder;
    color: whitesmoke;
    text-align: center;

    h5 {
        color: red;
    }

    .vegetarian {
        color: green !important;
    }
}

.pizzas_info {
    width: 400px;
    border: 10px solid;
    padding: 1rem;
    border-image: linear-gradient(
            red 20%,
            green 55%,
            red 25%,
            red 55%,
            green 45%
        )
        2;
}
